.header {
    position: relative;
    margin-top: -6rem;
    ul {
        list-style: none;
        gap:20px;
        a {
            width: fit-content;
            color: #fff;
            text-shadow: -1px 1px 1px #000, 1px -1px 1px #000;
            font-size: 14px;
            transition: all .2s ease;
            &:hover {
                color: var(--lightColor01);
            }
        }
    }
    &-body {
        background-color: #1d1d1d;
        height: 100%;
    }
    &-banner{
        background-position: top right;
        background-size: cover;
        position: absolute;
        height: 80vh;
        top:0;
        left:0;
        h2 {
            font-size:6rem;
            margin: 8rem 3rem 6rem;
            color: #ffc107;
            text-shadow: -3px 0px 165px #fff, 0 0 25px #000, 1px -3px 10px #000;
            font-family: 'Allison', cursive;
        }
        label {
            gap: 10px;
            font-size: 20px;
            padding: 15px 40px;
            border-radius: 4px;
            outline: none;
            border: none;
            i {
                transform: scale(1.25);
            }
        }
        .more-button {
            background-color: #707070bb;
        }
    }
}

.trailer-popup, .info-popup {
    position: absolute;
    right: 20px;
    top: 40vh;
    display:none;
}

iframe, .trailer-popup, .info-popup {
    width: 50vw;
    height: 38vh;    
}

#trailer-checkX:checked + .trailer-popup, #info-checkX:checked + .info-popup {
    display:block;
}

.info-popup {
    background-color: var(--bgDark)
}

.body {
    margin-top: 34rem;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }
}

.watchable-list {
    background-color: #333;
}